{% include 'base.html' %}
{% include 'produtividade_nav.html' %}

{% block content %}
    <!-- Tasks -->
    <section
      class="flex flex-1 flex-wrap justify-center gap-3 bg-[#fff0] w-10/12 md:w-11/12 h-full mb-3 rounded-2xl p-3 overflow-y-auto scrollbar-hide"
    >
        <div
        class="w-[300px] flex flex-col shadow-md bg-white h-[120px] rounded-xl p-3"
        >
            <!-- Top -->
            <div class="flex flex-row justify-between">
            <!-- Left: Title and Description -->
                <div>
                    <a href=""
                        <h1 class="text-blue-500 font-semibold text-xl">
                            Total Geral
                        </h1>
                    </a>
                </div>
            </div>
            <!-- Line -->
            <hr class="border-t border-gray-200 my-2" />
            <!-- Bottom: Time and Date | Delete -->
            <div class="flex flex-row justify-between">
                <h2 class="text-gray-500 font-bold">
                    Total: {{ tasks_total }}
                </h2>
            </div>
        </div>
        <div
        class="w-[300px] flex flex-col shadow-md bg-white h-[120px] rounded-xl p-3"
        >
            <!-- Top -->
            <div class="flex flex-row justify-between">
            <!-- Left: Title and Description -->
                <div>
                    <a href=""
                        <h1 class="text-green-500 font-semibold text-xl">
                            Concluídos
                        </h1>
                    </a>
                </div>
            </div>
            <!-- Line -->
            <hr class="border-t border-gray-200 my-2" />
            <!-- Bottom: Time and Date | Delete -->
            <div class="flex flex-row justify-between">
                <h2 class="text-gray-500 font-bold">
                    Total: {{ task_concluidas }}
                </h2>
            </div>
        </div>
        <div
        class="w-[300px] flex flex-col shadow-md bg-white h-[120px] rounded-xl p-3"
        >
            <!-- Top -->
            <div class="flex flex-row justify-between">
            <!-- Left: Title and Description -->
                <div>
                    <a href=""
                        <h1 class="text-red-500 font-semibold text-xl">
                            Pendentes
                        </h1>
                    </a>
                </div>
            </div>
            <!-- Line -->
            <hr class="border-t border-gray-200 my-2" />
            <!-- Bottom: Time and Date | Delete -->
            <div class="flex flex-row justify-between">
                <h2 class="text-gray-500 font-bold">
                    Total: {{ task_pendentes }}
                </h2>
            </div>
        </div>
    </section>
{% endblock content %}